*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.time{
    display: flex;
}
.btn{
    padding: 0.3rem 1.5rem;
    border: none;
    background-color:cadetblue;
    border-radius: 0.2rem;
    font-size: 0.9rem;
}
main{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color:lightslategrey;
    width: 30rem;
    border-radius: 1rem;
    box-shadow: 5px 10px rgb(20, 16, 33);
}